<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4><strong>Chez Ayoub et Moha</strong></h4>
                <ul>
                    <li><a href="#">a propos</a></li>
                    <li><a href="#">nos services</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4><strong>contactez nous</strong></h4>
                <ul>
                    <li><a href="#">email</a></li>
                    <li><a href="#">05 37 ** ** **</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4><strong>Suivez nous</strong></h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
        </div>
    </div>
    
</footer>
</body>
</html>