<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Pizzeria</title>
	<link rel="stylesheet" type="text/css" href="static/css/mainstyle.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
</head>
<body>
	<header>
		<img class="logo" src="static/images/logo.png" alt="logo">
		<nav>
			<ul class="nav_links">
				<li><a href="">Menu</a></li>
				<li><a href="">Profil</a></li>
				<li><a href="">Login</a></li>
				<li><a href="">Sign in</a></li>
			</ul>
		</nav>
		<a href="cmd"><button>Order</button></a>
	</header>
	
	